@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* REGISTRATION */
.registration {
  height: 100%;
  width: 60%;
  background: linear-gradient(rgba(4, 19, 149, 87), rgba(65, 107, 170, 87));
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: antiquewhite;
}
.registration .title {
  flex: 0.4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  flex: 0.6;
}
.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
}
/* INPUT */
.input__block {
  display: flex;
  flex-direction: column;
  /* margin: 1rem; */
}
.input__block h3 {
  /*  */
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2px;
}

.input__reg {
  background: transparent;
  outline: none;
  border: 1px solid #c4c4c4;
  padding: 6px;
  color: #e5e5e5;
  font-size: 1rem;

  font-weight: 300;
}
.input__reg :focus {
  outline: none;
}
.input__reg ::placeholder {
  font-weight: lighter;
  font-size: 0.8rem;
}
.btn__register {
  margin-top: 2rem;
  border: none;
  width: calc(50% + 2rem);
  color: rgba(4, 19, 149, 87);
  padding: 6px;
  font-size: 1.2rem;
  cursor: pointer;
  letter-spacing: 2px;
}
.btn__register:hover,
.btn__register:focus {
  background-color: rgba(4, 19, 149, 87);
  border: 1px solid #e7d5d5;
  color: #e7d5d5;
  filter: brightness(1.1);
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

/* LIST OF PEOPLE */
.content {
  height: 100%;
  width: 40%;
  min-width: 200px;
  background: linear-gradient(rgba(35, 89, 169, 92), rgba(95, 129, 178, 77));
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
}
.content .title {
  flex: 0.4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.content .title .header {
  display: flex;
  align-items: center;
}
.content .title .header h2 {
  font-weight: 500;
  margin-right: 2px;
}
.content .players {
  flex: 0.6;
  width: 50%;
}

/* PLAYER info */
.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player .personal {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.avatar {
  margin-right: 8px;
  width: 50px;
  height: 50px;
}
img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
}
.name {
  font-size: 0.8rem;
}
.occupation {
  font-size: 0.7rem;
  font-weight: 300;
}
.age {
  font-size: 0.6rem;
  font-weight: 300;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}
.modal .container {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  background: white;
  color: black;
  /* max-width: 700px; */
}

/* EDIT FROM */
.edit__form {
  width: 400px;
  padding: 0.5rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.input__edit {
  margin: auto;
  border: none;
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #0080ff;
}
.input__edit:focus {
  outline: none;
}
